<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>com.avob.server.openfire.OpenfireOadrPlugin</class>

    <!-- Plugin meta-data -->
    <name>openfireoadrplugin</name>
    <description>Openfire Openadr security plugin</description>
    <author>Bertrand Zanni</author>
    <version>0.1.0</version>
    <date>09/24/2026</date>
    <url>https://github.com/avob/openfire-oadr-plugin</url>
    <!-- Openfire 5 로 올리면서 이 저장소로 옮겼다(pom.xml 주석 참고) -->
    <minServerVersion>5.1.0</minServerVersion>
    <minJavaVersion>17</minJavaVersion>
    <licenseType>MIT</licenseType>

    <!-- Admin console entries -->
    <adminconsole>

        <tab id="tab-server"  >

               <sidebar id="sidebar-server-manager" >
                  
                   <item id="oadr-info" name="Oadr Information"

                       url="oadr-info.jsp"

                       description="Click to administer oadr plugin" />

               </sidebar>

           </tab>
    </adminconsole>
</plugin>